/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import "src/app/components/exercise/exercise-details/exercise-details-modal.scss";
@import "src/app/components/workout/custom-workout-item/custom-workout-item-action-sheet.scss";
@import "src/app/components/workout/custom-amount-popover/custom-amount-popover.scss";

.main-header {
  ion-title {
    font-size: 21px;
    letter-spacing: 1px;
    font-family: 'Lora', serif;
    font-weight: bold;
    background-image: var(--app-title-linear-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
  }

  ion-button {
    font-size: large;
    color: var(--button-icon-color);
  }
}

.segment-toolbar {
  height: var(--segment-height-45);

  ion-segment {
    height: var(--segment-height-45);

    ion-segment-button {
      height: var(--segment-height-45);
      min-height: var(--segment-height-45);
      border-radius: var(--border-radius-8);
      --color: var(--segment-button-color);
      --color-checked: var(--segment-color-checked-color);
      --background-checked: var(--segment-background-checked-color);
      text-transform: capitalize;

      ion-label {
        font-weight: var(--font-weight-medium);
      }
    }
  }
}

.list-label {
  text-align: start;
  margin-top: 10px;
  margin-left: 8px;
  font-weight: var(--font-weight-medium);
  color: var(--list-header-color);
  text-transform: capitalize;
}

.no-ripple {
  color: transparent;
}

.no-ripple-button {
  --ripple-color: transparent;
}

.badge {
  padding: 5.5px 7.5px;
  border-radius: var(--border-radius-4);
  color: var(--badge-font-color);
  border: var(--badge-border);
}

.badge-gray {
  background-color: var(--badge-equipment-background-color);
}

.badge-yellow {
  background-color: var(--badge-muscle-background-color);
}

ion-icon.toolbar {
  font-size: 24px;
}

.empty-list {
  font-size: 15px;
  text-align: center;
  position: absolute;
  bottom: 50%;
  right: 0;
  left: 0;
}

ion-footer.footer-button {
  text-align: center;
  bottom: 10px;
  border-color: transparent;

  ion-button {
    --border-radius: var(--border-radius-40);
    color: black;
    font-weight: var(--font-weight-bold);
    font-size: 15px;
    letter-spacing: 1.2px;
    height: 55px;
    width: 80vw;
    text-transform: capitalize;
  }

  ion-button.yellow {
    --background: var(--trx-yellow-97);
    --background-activated: var(--trx-yellow-100);
  }

  ion-button.dark-white {
    --background: var(--footer-button-background-color);
    --background-activated: var(--footer-button-background-activated-color);
    color: var(--footer-button-font-color);
  }

  ion-button.yellow-border {
    --border-width: 3px;
    --border-color: var(--trx-yellow-97);
    --background: var(--footer-bordered-button-background-color);
    --background-activated: var(--footer-button-background-activated-color);
    color: var(--footer-bordered-button-font-color);
  }

  @media only screen and (min-width: 600px) {
    ion-button {
      width: 50vw;
    }
  }
}

ion-menu.side-panel {
  --width: 75%;
  --ion-background-color: transparent;

  ion-header {
    --ion-background-color: var(--side-modal-background-color);
  }

  ion-content {
    --ion-background-color: var(--side-modal-background-color);

    ion-list {
      border-radius: var(--border-radius-4);
      margin: 12px 12px 0 12px;
      background-color: var(--list-background-color);
      padding-top: 4px;
      padding-bottom: 4px;

      ion-item {
        --padding-start: 0px;
        --ion-background-color: var(--transparent);
        --border-color: var(--list-item-border-color);
        pointer-events: auto;

        img {
          width: 45px;
          margin-left: 10px;
          margin-right: 20px;
          border-radius: var(--border-radius-4);
        }

        ion-label {
          font-size: 15px;
          font-weight: var(--font-weight-medium);
          margin-top: 18px;
          margin-bottom: 18px;
        }
      }
    }
  }
}

.menu-content-open {
  pointer-events: all !important; // fix ion-menu scroll
}

.toast {
  transform: translateY(-60px);
}

div.info-card {
  background-color: var(--workout-info-card-background);
  border-radius: var(--border-radius-10);
  padding: 10px;
  text-align: center;
  height: 60px;

  .title {
    font-weight: var(--font-weight-bold);
    font-size: 13px;
    color: var(--list-header-color);
    letter-spacing: 0.1px;
    margin-bottom: 7px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .content {
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  span.custom {
    font-size: 15px;
  }

  div.custom {
    font-size: 15px;
  }
}
