<span></span>
<div class="wrapper">
    <div class="fab-container">
        <video [@fadeInState]='state' (loadeddata)="state = 'in'"
               playsinline autoplay muted loop
               [src]="'./assets/video/' + exercise.video">
        </video>
        <ion-fab [@fadeInState]='state' *ngIf="showSlides"
                 horizontal="end" vertical="bottom" slot="fixed" edge>
            <ion-fab-button (click)="addToCustomWorkout()">
                <ion-icon name="add-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div>
    <ion-slides *ngIf="showSlides" pager="true">
        <ion-slide>
            <div class="details-container overflow">
                <div class="title">{{ exercise.name }}</div>
                <div>
                    <div class="sub-title">Muscle group</div>
                    <div>
                        <ion-badge *ngFor="let group of exercise.muscleGroups" class="badge badge-yellow">
                            {{ removeDashes(group) }}
                        </ion-badge>
                    </div>
                </div>
                <div>
                    <div class="sub-title">Equipment</div>
                    <div>
                        <ion-badge *ngFor="let equipment of exercise.equipments" class="badge badge-gray">
                            <div>{{ removeDashes(equipment) }}</div>
                            <img src="../../../../assets/icon/dumbbell-icon.svg" alt="">
                        </ion-badge>
                    </div>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="details-container overflow description">{{ exercise.description }}</div>
        </ion-slide>
    </ion-slides>
</div>
<app-add-to-workout-panel *ngIf="showAddToWorkoutPanel" #addToWorkout [exercise]="exercise"></app-add-to-workout-panel>
