ion-item {
  --padding-start: 8px;
  --ion-background-color: var(--transparent);
  --border-color: var(--list-item-border-color);

  div {
    width: 30%;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-inline-end: 20px;

    img {
      border-radius: var(--border-radius-4);
    }
  }

  ion-label {
    font-weight: var(--font-weight-medium);
    font-size: 15px;
  }

  span {
    font-size: 14px;
  }

  .rest-label {
    margin-left: 10px;
    font-weight: var(--font-weight-regular);
  }
}
