<ion-item *ngIf="exercise.type !== 'REST'"
          button detail="false" (click)="selectExercise()"
          [ngClass]="exercise.isChecked ? 'checked' : ''">
    <div slot="start">
        <img src="./assets/image/exercises/{{ exercise.image }}" alt="">
    </div>
    <ion-label>
        {{ exercise.name }}
        <br *ngIf="custom">
        <span *ngIf="amount" [ngClass]="custom ? 'left' : 'right'">
            {{ exercise.amount }} {{ getMetrics() }}
        </span>
    </ion-label>
    <ng-template [ngIf]="custom">
        <ion-checkbox *ngIf="selectedExerciseNumber !== 0" [checked]="exercise.isChecked" slot="end"></ion-checkbox>
    </ng-template>
</ion-item>
<ion-item *ngIf="exercise.type === 'REST'" lines="none">
    <ion-label class="rest-label">Rest</ion-label>
</ion-item>
