ion-menu {
  --width: 75%;
  --ion-background-color: transparent;

  ion-header {
    --ion-background-color: var(--side-modal-background-color);

    .title-img {
      margin-left: 15px;
      width: 24px;
    }
  }

  ion-content {
    --ion-background-color: var(--side-modal-background-color);

    ion-list {
      border-radius: var(--border-radius-4);
      margin: 12px 12px 0 12px;
      background-color: var(--list-background-color);
      padding-top: 4px;
      padding-bottom: 4px;

      ion-item {
        --padding-start: 0px;
        --ion-background-color: var(--transparent);
        --border-color: var(--list-item-border-color);
        pointer-events: auto;

        img {
          width: 45px;
          margin-left: 10px;
          margin-right: 20px;
          border-radius: var(--border-radius-4);
        }

        ion-label {
          font-size: 15px;
          font-weight: var(--font-weight-medium);
          margin-top: 18px;
          margin-bottom: 18px;
        }
      }
    }
  }
}

