ion-card {
  margin: 0 12px 15.5px 12px;
  box-shadow: none;

  ion-item {
    border-radius: var(--border-radius-4);
    background-color: var(--list-background-color);

    --padding-start: 0px;
    --ion-background-color: var(--transparent);
    --border-color: var(--list-item-border-color);

    img {
      width: 35%;
      border-radius: var(--border-radius-4) 0 0 var(--border-radius-4);
      margin: 0 16px 0 0;
    }

    .flex-horizontal {
      height: 100%;
      width: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-around;

      div {
        span:first-child {
          float: left;
          max-width: 60%;
        }

        span:nth-child(2) {
          float: right;
        }

        .name {
          font-size: 16px;
          font-weight: var(--font-weight-medium);
        }

        .duration {
          font-size: 14.5px;
          margin-top: 2px;
          font-weight: var(--font-weight-medium);
        }

        .badge {
          font-size: 11.5px;
        }

        .intensity {
          margin-top: 2.65px;

          ion-icon {
            font-size: 13px;
          }
        }
      }
    }
  }
}
