<ion-card class="ion-activatable ripple-parent" [ngClass]="isIos() ? 'no-ripple' : ''">
    <ion-item (click)="selectWorkout()">
        <img slot="start" src="./assets/image/workouts/{{ workout.image }}" alt="">
        <div class="duration" slot="end">{{ workout.duration }} min</div>
        <div>
            <ion-label class="ion-text-wrap">{{ workout.name }}</ion-label>
            <ion-badge class="badge badge-gray">{{ workout.type }}</ion-badge>
        </div>
    </ion-item>
    <ion-ripple-effect></ion-ripple-effect>
</ion-card>
