<ion-tabs #tabs (ionTabsDidChange)="selectedTab = tabs.getSelected()">
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="my-plan">
            <img src="./assets/icon/plan-icon.svg" alt="">
            <ion-label *ngIf="isIos() || isSelected('my-plan')" [@fold] [ngClass]="getLabelStyle('my-plan')">
                My Plan
            </ion-label>
        </ion-tab-button>
        <ion-tab-button tab="plans">
            <img src="./assets/icon/calendar-icon.svg" alt="">
            <ion-label *ngIf="isIos() || isSelected('plans')" [@fold] [ngClass]="getLabelStyle('plans')">
                Plans
            </ion-label>
        </ion-tab-button>
        <ion-tab-button tab="workouts">
            <img src="./assets/icon/dumbbell-icon.svg" alt="">
            <ion-label *ngIf="isIos() || isSelected('workouts')" [@fold] [ngClass]="getLabelStyle('workouts')">
                Workouts
            </ion-label>
        </ion-tab-button>
        <ion-tab-button tab="exercises">
            <img src="./assets/icon/list-icon.svg" alt="">
            <ion-label *ngIf="isIos() || isSelected('exercises')" [@fold] [ngClass]="getLabelStyle('exercises')">
                Exercises
            </ion-label>
        </ion-tab-button>
        <ion-tab-button tab="profile">
            <img src="./assets/icon/profile-icon.svg" alt="">
            <ion-label *ngIf="isIos() || isSelected('profile')" [@fold] [ngClass]="getLabelStyle('profile')">
                Profile
            </ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
