ion-tab-bar {
  background-color: var(--trx-black-100);
  border: 0;
}

ion-tab-button {
  color: #ffffff;
  background-color: var(--trx-black-100);
}

ion-tab-button.tab-selected {
  color: var(--trx-yellow-100);
}

@media (prefers-color-scheme: dark) {
  ion-tab-bar {
    background-color: var(--light-gray-100);
    border: 0;
  }

  ion-tab-button {
    color: #ffffff;
    background-color: var(--light-gray-100);
  }
}
