<ion-header [mode]="'md'" class="ion-no-border">
    <hidenav-stretchheader (scroll)="resizeTitle($event)" header-height="96" init-expanded="true" no-border="true">
        <div #static style="width: 100%;">
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-back-button [icon]="isIos() ? 'chevron-back-outline' : 'arrow-back-outline'">
                    </ion-back-button>
                </ion-buttons>
                <ion-buttons slot="end">
                    <ion-button *ngIf="custom" (click)="editWorkout()" [ngClass]="isIos() ? 'no-ripple-button' : ''">
                        <ion-icon name="pencil" class="toolbar"></ion-icon>
                    </ion-button>
                    <ion-button (click)="showPlaylists()" [ngClass]="isIos() ? 'no-ripple-button' : ''">
                        <ion-icon name="headset" class="toolbar"></ion-icon>
                    </ion-button>
                </ion-buttons>
                <div class="title"><span #title>{{workout.name}}</span></div>
            </ion-toolbar>
        </div>
        <div #shrinkexpand>
            <div class="image-container">
                <img [src]="!custom ? './assets/image/workouts/large/' + workout.image : './assets/image/workouts/large/workout-img-custom.png'"
                     alt="workout">
                <div class="backdrop"></div>
            </div>
        </div>
    </hidenav-stretchheader>
</ion-header>
<ion-content hidenav-sh-content fullscreen>
    <ion-grid>
        <ion-row *ngIf="!custom">
            <ion-col size="3.5">
                <div class="card">
                    <div class="title">Duration</div>
                    <div class="content">{{workout.duration}} min</div>
                </div>
            </ion-col>
            <ion-col size="8.5">
                <div class="card">
                    <div class="title">Muscle group</div>
                    <div class="content">{{workout.muscleGroups}}</div>
                </div>
            </ion-col>
            <ion-col size="3.5">
                <div class="card">
                    <div class="title">Intensity</div>
                    <div class="content">
                        <ion-icon *ngFor="let i of [].constructor(workout.intensity)"
                                  name="flame"></ion-icon>
                        <ion-icon *ngFor="let i of [].constructor(3 - workout.intensity)"
                                  name="flame-outline"></ion-icon>
                    </div>
                </div>
            </ion-col>
            <ion-col size="8.5">
                <div class="card">
                    <div class="title">Equipment</div>
                    <div class="content">{{workout.equipments}}</div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="custom">
            <ion-col size="6">
                <div class="card">
                    <div class="title custom">Duration</div>
                    <div class="content custom">{{workout.duration}} min</div>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="card">
                    <div class="title custom">Exercise number</div>
                    <div class="content custom">{{workout.exercises.length}}</div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list>
        <app-exercise-item *ngFor="let exercise of workout.exercises"
                           [exercise]="exercise"
                           [hasAmount]="true"
        ></app-exercise-item>
    </ion-list>
</ion-content>
<ion-footer class="footer-button ion-no-border">
    <div>
        <ion-button class="yellow">Start Workout</ion-button>
    </div>
</ion-footer>
<app-select-playlist-panel #selectPlaylist></app-select-playlist-panel>
