.more-tools-background {
  position: relative;
  color: var(--moore-tools-background-color);

  div {
    background: var(--trx-yellow-45);
    position: absolute;
    height: 100%;
    width: 100%;

    ion-icon {
      position: absolute;
      height: 80%;
      width: 80%;
      left: 10%;
      top: 10%;
    }
  }
}

ion-row {
  margin: 0 4px;
}
