<ion-header [mode]="'md'">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [icon]="isIos() ? 'chevron-back-outline' : 'arrow-back-outline'">
            </ion-back-button>
        </ion-buttons>
        <ion-title>Gym</ion-title>
    </ion-toolbar>
    <ion-toolbar class="segment">
        <ion-segment [(ngModel)]="selectedMuscleGroup" [class]="isIos() ? 'no-ripple' : ''" scrollable>
            <ion-segment-button *ngFor="let muscleGroup of muscleGroups" [id]="muscleGroup + 'Id'"
                                [value]="muscleGroup" (click)="scrollToMuscleGroup(muscleGroup)">
                <ion-label>{{ muscleGroup }}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" (ionScroll)="onMuscleGroupsScroll($event)" fullscreen
             [style]="scrollInProgress ? '--overflow: hidden' : ''">
    <div *ngFor="let muscleGroup of muscleGroups">
        <ion-list-header mode="md" [id]="muscleGroup">
            <ion-label>{{ capitalize(muscleGroup) }}</ion-label>
        </ion-list-header>
        <ion-list>
            <app-exercise-item *ngFor="let exercise of exercises" [exercise]="exercise"></app-exercise-item>
        </ion-list>
    </div>
</ion-content>
