ion-list {
  border-radius: var(--border-radius-4);
  margin: 0 12px 0 12px;
  background-color: var(--list-background-color);
}

// disable segment scrollbar on iOS
::-webkit-scrollbar, *::-webkit-scrollbar {
  display: none !important;
  overflow: hidden !important;
}
