<ion-card class="ion-activatable ripple-parent" [ngClass]="isIos() ? 'no-ripple' : ''" (click)="selectPlan()">
    <img src="./assets/image/workouts/large/{{ plan.image }}" alt="">
    <div class="backdrop"></div>
    <ion-card-content>
        <div class="plan-info">
            <div class="duration">{{ plan.duration }} weeks</div>
            <div class="name">{{ plan.name }}</div>
        </div>
        <div class="plan-intensity">
            <ion-icon *ngFor="let i of [].constructor(plan.intensity)" name="flame"></ion-icon>
            <ion-icon *ngFor="let i of [].constructor(3 - plan.intensity)" name="flame-outline"></ion-icon>
        </div>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
</ion-card>
