:root {

  --light-gray-100: #615F5F;

  --trx-yellow-100: #FFE41F;
  --trx-yellow-90: rgba(255, 228, 31, 0.90);
  --trx-yellow-55: rgba(255, 228, 31, 0.55);
  --trx-yellow-45: rgba(255, 228, 31, 0.45);

  --trx-black-100: #373535;
  --trx-black-10: rgba(0, 4, 22, 0.1);

  --white-25: rgba(255, 255, 255, 0.25);
  --white-6: rgba(255, 255, 255, 0.06);

  --transparent: rgba(0, 0, 0, 0);
}
