:root {

  --light-gray-100: #615F5F;
  --lighter-gray-100: #C4C4C4;
  --lighter-gray-85: rgba(196, 196, 196, 0.85);
  --light-gray-toolbar-100: rgba(84, 83, 83, 1);

  --trx-yellow-100: #FFE41F;
  --trx-yellow-97: rgba(255, 228, 31, 0.97);
  --trx-yellow-90: rgba(255, 228, 31, 0.90);
  --trx-yellow-75: rgba(255, 228, 31, 0.75);
  --trx-yellow-55: rgba(255, 228, 31, 0.55);
  --trx-yellow-45: rgba(255, 228, 31, 0.45);
  --trx-yellow-linear: linear-gradient(0deg, rgba(255, 228, 31, 0) 1%, rgba(255, 228, 31, 0.10) 10%, rgba(255, 228, 31, 0.83) 40%, rgba(255, 228, 31, 1) 60%);

  --trx-black-100: #373535;
  --trx-black-97: rgba(55, 53, 53, 0.97);
  --trx-black-95: rgba(55, 53, 53, 0.95);
  --trx-black-90: rgba(55, 53, 53, 0.9);
  --trx-black-30: rgba(55, 53, 53, 0.30);
  --trx-black-15: rgba(55, 53, 53, 0.15);
  --trx-black-10: rgba(55, 53, 53, 0.10);
  --trx-black-8: rgba(55, 53, 53, 0.08);

  --white-95: rgba(255, 255, 255, 0.95);
  --white-93: rgba(255, 255, 255, 0.93);
  --white-80: rgba(255, 255, 255, 0.80);
  --white-60: rgba(255, 255, 255, 0.60);
  --white-45: rgba(255, 255, 255, 0.45);
  --white-25: rgba(255, 255, 255, 0.25);
  --white-20: rgba(255, 255, 255, 0.20);
  --white-15: rgba(255, 255, 255, 0.15);
  --white-10: rgba(255, 255, 255, 0.10);
  --white-8: rgba(255, 255, 255, 0.08);
  --white-6: rgba(255, 255, 255, 0.06);
  --white-4: rgba(255, 255, 255, 0.04);

  --dark-white-97: rgba(218, 218, 218, 0.97);

  --black-40: rgba(0, 0, 0, 0.40);
  --black-linear: linear-gradient(0deg, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.30) 10%, rgba(0, 0, 0, 0.83) 35%, rgba(0, 0, 0, 1) 60%);

  --light-red-100: #D65757;

  --transparent: rgba(0, 0, 0, 0);
}
