
/** Light and default mode **/
:root {

  --badge-border: 0.5px solid var(--trx-black-15);
  --img-white-to-black-filter: invert(1);

  --ion-background-color: white;
  --ion-background-color-rgb: 255, 255, 255;

  --ion-text-color: black;
  --ion-text-color-rgb: 0, 0, 0;

  --tab-bar-background-color: var(--trx-black-100);
  --tab-selected-ripple-color: var(--light-gray-100);

  --title-color: var(--trx-black-100);
  --subtitle-color: var(--trx-black-90);

  --sticky-header-color: var(--white-95);
  --button-icon-color: var(--trx-black-100);
  --moore-tools-background-color: white;

  --card-background-color: var(--trx-yellow-90);
  --card-title-color: black;

  --list-header-color: black;
  --list-header-plan-color: black;
  --list-subheader-color: var(--trx-black-100);
  --list-background-color: var(--trx-black-10);
  --list-item-border-color: white;

  --segment-background-checked-color: var(--trx-yellow-100);
  --segment-color-checked-color: none;
  --segment-button-color: none;

  --modal-close-line-background-color: black;
  --modal-background-color: var(--lighter-gray-100);
  --modal-detail-container-background-color: var(--white-60);

  --badge-font-color: black;
  --badge-muscle-background-color: var(--trx-yellow-100);
  --badge-equipment-background-color: var(--white-80);

  --slide-active-bullet-color: var(--trx-black-100);
  --slide-bullett-border: 2px solid var(--trx-black-100);

  --workout-info-card-background: var(--trx-black-8);

  --custom-workout-exercise-checked: var(--trx-black-30);
  --custom-workout-toolbar-color: var(--trx-black-100);

  --input-border-color: var(--trx-black-30);
  --input-focused-border-color: var(--trx-black-90);

  --footer-button-background-color: var(--trx-black-97);
  --footer-button-background-activated-color: var(--trx-black-90);
  --footer-button-font-color: white;

  --app-title-linear-color: var(--black-linear);

  --side-modal-background-color: var(--white-93);

  --plan-day-number-circle-color: var(--white-80);
  --plan-day-completion-icon-opacity: 0.65;
}

/** Night mode **/
body.dark {

  --badge-border: 0;
  --img-white-to-black-filter: none;

  --ion-background-color: #373535;
  --ion-background-color-rgb: 55, 53, 53;

  --ion-text-color: white;
  --ion-text-color-rgb: 255, 255, 255;

  --tab-bar-background-color: var(--light-gray-100);
  --tab-selected-ripple-color: var(--trx-black-100);

  --title-color: var(--trx-yellow-100);
  --subtitle-color: var(--lighter-gray-85);

  --sticky-header-color: var(--trx-black-90);
  --button-icon-color: var(--trx-yellow-100);
  --moore-tools-background-color: var(--trx-black-100);

  --card-background-color: var(--trx-yellow-45);
  --card-title-color: white;

  --list-header-color: var(--trx-yellow-75);
  --list-header-plan-color: var(--trx-yellow-100);
  --list-subheader-color: var(--white-80);
  --list-background-color: var(--white-6);
  --list-item-border-color: var(--white-25);

  --segment-background-checked-color: none;
  --segment-color-checked-color: var(--trx-yellow-100);
  --segment-button-color: white;

  --modal-close-line-background-color: var(--trx-yellow-75);
  --modal-background-color: var(--trx-black-100);
  --modal-detail-container-background-color: var(--white-4);

  --badge-font-color: white;
  --badge-muscle-background-color: var(--trx-yellow-45);
  --badge-equipment-background-color: var(--white-20);

  --slide-active-bullet-color: var(--trx-yellow-100);
  --slide-bullett-border: 2px solid var(--trx-yellow-100);

  --workout-info-card-background: var(--white-8);

  --custom-workout-exercise-checked: var(--white-10);
  --custom-workout-toolbar-color: var(--light-gray-toolbar-100);

  --input-border-color: var(--white-25);
  --input-focused-border-color: var(--white-95);

  --footer-button-background-color: var(--dark-white-97);
  --footer-button-background-activated-color: var(--white-60);
  --footer-button-font-color: black;

  --app-title-linear-color: var(--trx-yellow-linear);

  --side-modal-background-color: var(--trx-black-95);

  --plan-day-number-circle-color: var(--white-15);
  --plan-day-completion-icon-opacity: 0.9;
}

/** Only Android **/
.md body {

  --toggle-handle-background-checked-color: var(--trx-yellow-100);
}

/** Only iOS **/
.ios body {

  --toggle-handle-background-checked-color: white;
}
