ion-content {
  height: 100%;

  ion-fab-button {
    --background: var(--trx-yellow-97);
    --background-activated: var(--trx-black-15);
    --ripple-color: black;
    margin-right: 10px;
    margin-bottom: 5px;

    ion-icon {
      color: black;
      font-size: 25px;
      --ionicon-stroke-width: 40px;
    }
  }
}
