<div>
    <div class="padding">
        <div class="ion-padding-top title">Set {{ getTitle() }}</div>
        <ion-item class="ion-padding-bottom" mode="ios">
            <ion-input #amountInput type="number" inputmode="numeric" min="1"
                       [value]="exerciseType === 'INTERVAL' ? 30 : 15"></ion-input>
            <span>{{ getMetrics() }}</span>
        </ion-item>
        <span style="float: left;" class="popover-button ion-activatable ripple-parent" (click)="closePopover()">Cancel
            <ion-ripple-effect></ion-ripple-effect>
        </span>
        <span style="float: right; margin-right: 20px" class="popover-button ion-activatable ripple-parent"
              (click)="closePopover(amountInput.value)">Set
            <ion-ripple-effect></ion-ripple-effect>
        </span>
    </div>
</div>
