ion-card {
  margin: 2px;
  color: var(--trx-black-100);
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px -1px, rgba(0, 0, 0, 0.1) 0px 1px 1px 0px, rgba(0, 0, 0, 0.08) 0px 1px 3px 0px;
  background-color: var(--card-background-color);

  img {
    width: 100%;
  }

  ion-card-header {
    padding: 7px 0 7px 10px;
    background-color: transparent;

    ion-card-title {
      font-size: 16px;
      color: var(--card-title-color)
    }
  }
}
